In [1]:
import pandas as pd
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import create_engine
from config import username, password

In [2]:
engine = create_engine(f'mysql+pymysql://{username}:{password}@localhost/dogs_db')

In [3]:
owners_df = pd.read_sql_table('owners',engine)
dogs_df = pd.read_sql_table('dogs',engine)

In [4]:
dogs_df.head()

   id    name             breed  age   sex
0   1   Bella         Chihuahua    2  girl
1   2  Autumn    Boston Terrier    4  girl
2   3  Bailey         Chow Chow    1   boy
3   4  Summer  Golden Retriever    3  girl
4   5   Benji               Lab    4   boy

In [5]:
owners_df.head()

   id              name  dog_id
0   1        Adam Baker       2
1   2       Donna Brown       3
2   3  Anthony Campbell       5
3   4         Emma Bond      14
4   5       Dorothy Lee      11

In [11]:
pd.value.counts(dogs_df.values)

AttributeError: module 'pandas' has no attribute 'value'