## Python HW2 Working with Pandas and SQLAlchemy

In [1]:
import pandas as pd
import pymysql
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import create_engine
from config import username, password

CONNECT TO THE MYSQL DATABASE

In [2]:
engine = create_engine(f'mysql+pymysql://{username}:{password}@localhost/dogs_db')

READING CSV FILE WITH DOGS AND OWNERS INFO

In [3]:
dogs_df=pd.read_csv('dogs.csv')
owners_df=pd.read_csv('owners.csv')

LOADING DATAFRAMES TO MYSQL TABLES

In [4]:
dogs_df.to_sql('dogs',engine,if_exists='append',index=False)
owners_df.to_sql('owners',engine,if_exists='append',index=False)

READING DATAFRAMES FROM MYSQL TABLES

In [5]:
owners_df = pd.read_sql_table('owners',engine)
dogs_df = pd.read_sql_table('dogs',engine)

EXPLORE THE FIRST 5 ROWS OF THE DATAFRAMES

In [6]:
dogs_df.head()

   id    name             breed  color  age     mood   sex
0   1   Bella         Chihuahua  white    2  excited  girl
1   2  Autumn    Boston Terrier  brown    4  playful  girl
2   3  Bailey         Chow Chow  brown    1  relaxed   boy
3   4  Summer  Golden Retriever  brown    3  fearful  girl
4   5   Benji               Lab  black    4  excited   boy

In [7]:
owners_df.head()

   id              name         phone                    email  dog_id
0   1        Adam Baker  773-455-1233          adamb@yahoo.com       2
1   2       Donna Brown  312-010-4568         donnab@gmail.com       3
2   3  Anthony Campbell  312-662-9961  anthony_c81@hotmail.com       5
3   4         Emma Bond  773-474-8935      emma.bond@gmail.com      14
4   5       Dorothy Lee  773-936-5620    lee_dorothy@gmail.com      11

SHOW RECORDS COUNT PER TABLE (rows, columns)

First let's see how many rows and columns there using shape

In [8]:
dogs_df.shape

(19, 7)

In [9]:
owners_df.shape

(10, 5)

Number of records by rows only

In [10]:
dogs_df['id'].count()

19

In [11]:
owners_df['id'].count()

10

Number of records by column

In [12]:
print (len(dogs_df.columns))

7

In [13]:
print (len(owners_df.columns))

5

GROUP BY COLOR AND COUNT HOW MANY WE HAVE FOR EACH COLOR

In [14]:
dogs_df.groupby(['color']).size()

color
black    6
brown    8
grey     1
white    4
dtype: int64

SHOW HOW MANY DOGS WE HAVE BY BREED

In [15]:
dogs_df['breed'].value_counts()

Collie              2
Rottweiler          2
Golden Retriever    2
French Bulldog      2
Doberman            1
Shih Tzu            1
Lab                 1
Chihuahua           1
Bulldog             1
Boston Terrier      1
Corgi               1
Chow Chow           1
German Shepherd     1
Poodle              1
Dachshund           1
Name: breed, dtype: int64

HOW MANY UNIQUE BREEDS DO WE HAVE?

In [16]:
dogs_df['breed'].nunique()

15

SHOW THE OWNERS AND THE DOGS THEY ADOPTED

In [25]:
adopted = pd.merge(owners_df,dogs_df,how='inner',left_on='dog_id',right_on='id')
adopted_df = adopted.loc[:,:]
print(adopted_df)

   id_x            name_x         phone                      email  dog_id  \
0     1        Adam Baker  773-455-1233            adamb@yahoo.com       2
1     2       Donna Brown  312-010-4568           donnab@gmail.com       3
2     3  Anthony Campbell  312-662-9961    anthony_c81@hotmail.com       5
3     4         Emma Bond  773-474-8935        emma.bond@gmail.com      14
4     5       Dorothy Lee  773-936-5620      lee_dorothy@gmail.com      11
5     6      Maria Walker  773-909-8072          maria_w@yahoo.com       8
6     7       Jake Wilson  312-671-0129      jake.wilson@gmail.com       6
7     8      Jason Powell  773-509-4821      jason.p90@hotmail.com       1
8     9       Kate Russel  312-123-9052      kate.russel@gmail.com      19
9    10   Stephen Wallace  773-718-0712  stephen.wallace@yahoo.com      12

   id_y   name_y           breed  color  age     mood   sex
0     2   Autumn  Boston Terrier  brown    4  playful  girl
1     3   Bailey       Chow Chow  brown    1  relaxed   boy
2     5    Benji             Lab  black    4  excited   boy
3    14     Joey         Bulldog  black    3  playful   boy
4    11  Scooter      Rottweiler  black    1  fearful   boy
5     8    Oscar       Dachshund  brown    2  relaxed   boy
6     6    Spike        Shih Tzu   grey    5  excited   boy
7     1    Bella       Chihuahua  white    2  excited  girl
8    19    Roxie          Collie  white    3  excited  girl
9    12    Sugar           Corgi  brown    2  relaxed  girl

SHOW THE DOGS THAT DO NOT HAVE AN OWNER YET / NEED TO BE ADOPTED

In [26]:
merged = pd.merge(dogs_df,owners_df,how='outer',left_on='id',right_on='dog_id',indicator=True)
merged_l = merged[merged['_merge']=='left_only']
merged_ldf = merged_l.iloc[:,:7]
print(merged_ldf)

    id_x   name_x             breed  color  age     mood   sex
3      4   Summer  Golden Retriever  brown    3  fearful  girl
6      7      Zoe            Collie  brown    1  playful  girl
8      9   Violet    French Bulldog  white    3  relaxed  girl
9     10  Chester   German Shepherd  brown    4  excited   boy
12    13   Boomer        Rottweiler  black    2  excited   boy
14    15  Charlie    French Bulldog  black    4  relaxed   boy
15    16    Tasha  Golden Retriever  brown    1  relaxed  girl
16    17   Shadow          Doberman  black    4  fearful   boy
17    18     Toby            Poodle  white    5  excited   boy